/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.header {
  display: flex;
}

.section_padding {
  padding: 4rem 6rem;
}

.gradient_text {
  background: var(--gradient-text);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.header_content {
  flex: 1.9;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  margin-right: 5rem;
}

/* .header_content_image {
    background-image: url(@site/static/img/inverted_c.png);
    background-repeat: no-repeat;
    background-position: top;
} */

.header_content h1 {
  font-size: 6rem;
  font-weight: bold;
  max-width: 55ch;
}

.header_content h2 {
  max-width: 50ch;
}

.header_content p {
  font-size: 1.3rem;
  max-width: 60ch;
}

.header_content_input {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* .header_content_input a {
  text-decoration: none;
  flex: 0.3;
  text-align: center;
  width: 100%;
  min-height: 50px;
  font-size: 20px;
  line-height: 27px;
  background: var(--ifm-color-primary);
  border-radius: 5px;
  color: #fff;
  font-weight: 700;
  cursor: pointer;
  outline: none;
  padding: 0.5rem;
  border: none;
} */

.header_image {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header_image hr {
  display: none;
}

@media screen and (max-width: 1050px) {
  .header {
    flex-direction: column;
  }

  .header_content {
    margin: 0 0 3rem;
  }

  .header_image img {
    width: 40vh;
  }

  .header_image svg {
    display: none;
  }

  .header_image hr {
    display: block;
    width: 100%;
  }
}

@media screen and (max-width: 650px) {
  .header h1 {
    font-size: 48px;
    line-height: 60px;
  }

  .header p {
    font-size: 16px;
    line-height: 24px;
  }

  .header_image svg {
    display: none;
  }

  .header_image hr {
    display: block;
    width: 100%;
  }

  .section_padding {
    padding: 4rem;
  }
}

@media screen and (max-width: 490px) {
  .header h1 {
    font-size: 36px;
    line-height: 48px;
  }

  .section_padding {
    padding: 3rem;
  }
}
