.news_container_blog {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 25px;
}

.news_container_content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem 1.5rem;
  height: 100%;
  position: relative;
}

.news_container_content h4 {
  bottom: 1rem;
  font-size: 0.9em;
  position: absolute;
  right: 2rem;
  margin: 0;
}

.news_container_content h4 > span {
  margin-left: 0.3rem;
}

.news_container_content h3 {
  font-weight: bold;
  font-size: 1.5rem;
  margin-bottom: 1rem;
  cursor: pointer;
}

.news_container_content a {
  cursor: pointer;
  text-decoration: none;
}

.news_container_content p {
  margin-bottom: 4rem;
}

.news_container_content h3 a {
  font-size: 27px;
  color: var(--ifm-heading-color);
}

.read_full_blog {
  position: absolute;
  bottom: 1rem;
}

.news_card_image {
  border-radius: 15px;
}

@media screen and (max-width: 550px) {
  .news_container_content h3 {
    font-size: 18px;
    line-height: 25px;
  }
}
