.news_container_blog {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 25px;
}

.news_container_content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem 1.5rem;
  height: 100%;
}

.news_container_content h4 {
  font-weight: 700;
  font-size: 12px;
  line-height: 35px;
}

.news_container_content h3 {
  font-weight: 800;
  font-size: 27px;
  line-height: 30px;
  margin-bottom: 2rem;
  cursor: pointer;
}

.news_container_content p {
  font-size: 20px;
  line-height: 30px;
}

.news_container_content a {
  font-size: 15px;
  line-height: 30px;
  margin-bottom: 1rem;
  cursor: pointer;
  text-decoration: none;
}

@media screen and (max-width: 550px) {
  .news_container_content h3 {
    font-size: 18px;
    line-height: 25px;
  }
}
